name: Clippy

on:
  [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Run cargo clippy
      run: cargo clippy --workspace --no-deps -- -D warnings
